@media screen and (max-width: 1200px){
    .container {
        width: 1170px;
    }
}
@media screen and (max-width: 992px){
    .container {
        width: 970px;
    }
    div.container > div.local-stores{
        max-width: calc(50% - 10px);
    }
    #map {
        width: 100%;
    }
    div.stores-detail div.local-stores{
        width: 100%;
    }
    .block-left,
    .block-right{
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    .container {
        width: 750px;
    }
    div.container > div.local-stores{
        max-width: 100%;
    }
    .foot-ads {
        flex-direction: column;
    }
    .ads-1 {
        width: 100%;
    }
    .ads-2 {
        width: 100%;
    }
}
@media screen and (max-width: 576px){

}