@media screen and (max-width: 900px){
    div.container > div.local-stores{
        max-width: calc(50% - 10px);
    }
    #map {
        width: 100%;
    }
    div.stores-detail div.local-stores{
        width: 100%;
    }
}
@media screen and (max-width: 600px){
    div.container > div.local-stores{
        max-width: 100%;
    }
    .foot-ads {
        flex-direction: column;
    }
    .ads-1 {
        width: 100%;
    }
    .ads-2 {
        width: 100%;
    }
}