*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/*Day la phan chung*/
body {
    width: 2050px;
}
.container{
    float: none;
    width: 1170px;
    margin: 0 auto;
}
ul > li{
    list-style-type: none;
}
/* Day la phan header */
header{
    float:left;
    width: 100%;
    background-color: #f8f8f8;
}
.top-link{
    float: left;
    width: 100%;
    height: 45px;
    background-color: #333333;
}
.currency{
    font-family: 'Monteserrat';
    color: #777777;
    font-size: 13px;
    float: left;
    width: 50%;
}
.link{
    font-family: 'Monteserrat';
    color: #999999;
    font-size: 13px;
    float: left;
    width: 50%;
}
.header-main{
    float: left;
    width: 100%;
    height: 112px;
    background-color: #f8f8f8;
}
.logo{
    font-family: 'Monteserrat';
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.intro{
    float: left;
    width: 100%;
    height: 450px;
    font-family: 'Montserrat';
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    background-image: url("../Images/darken.png");
}
.tittle{
    font-size: 48px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding-top: 150px;
}
.slogan{
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding-top: 20px;
}

/* Day la phan content */
#content{
    height: 1000px;
    float: left;
}
.stores{
    height: 365px;
    width: 100%;
    float: left;
}
div.stores > div.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#map {
    height: 500px;
    width: 1350px;
    float: left;
}
.local-stores{
    width: 700px;
    float: left;
}
/* Day la phan footer */
footer{
    float: left;
    width: 100%;
    background-color: #f8f8f8;
}
.foot-menu{
    float: left;
    width: 100%;
}
.block-footer{
    float: left;
    width: 20%;
}
.foot-ads{
    float: left;
    width: 100%;
}
.ads-1{
    font-size: 36px;
    font-family: "Montserrat";
    color: #ffffff;
    background-color: #333333;
    float: left;
    width: 50%
}
.ads-2{
    background-color: #00c8c8;
    float: left;
    width: 50%;
    text-align: center;
    font-size: 30pt;
    color: white;
    letter-spacing: 15px;

}
.note{
    float: left;
    width: 100%;
    height: 45px;
    background-color: #333333;
}
.assign1{
    float: left;
    width: 50%;
    color: #999999;
}
.assign2{
    float: left;
    width: 50%;
    color: #777777;
}
.assign2>p {
    padding: auto 0;
    vertical-align: middle;
}