
@media screen and (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
@media only screen and (max-width: 1199px) and (min-width: 992px){
    .container{
        width: 970px;
    }
}
@media only screen and (max-width: 992px) and (min-width: 768px){
    .container{
        width: 750px;
    }
    #intro {
        padding: 10px 10px;
    }
    .project-one {
        width: 33.3%;
        padding-top: 25%;
    }
}
@media only screen and (max-width: 767px){
    .container{
        width: 98%;
        margin: 0 auto;
    }
    #intro {
        padding: 30px 10px;
    }
    #intro > p:nth-child(1) {
        font-size: 40px;
    }
    #intro > p:nth-child(2) {
        font-size: 22px;
        padding: 30px 0px 30px 0px;
    }
    .code {
        width: 46%
    }
    .project-one {
        width: 50%;
        padding-top: 35%;
    }
    .member {
        width: 48%;
    }
    #about-me >.container > div:first-child {
        padding: 0px;
    }
}
